<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <%= form.hidden_field :commenter, :value => current_user.email %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body ,:class => "form-control", :style => "width: 100%;", :rows => "5"%>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'],{}, {class: "form-select", style: ""} %>
  </p>
  <p>
    <%= form.submit "Create Comment", :class => "btn btn-primary"%>
  </p>
<% end %>