<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, :style => "
    color: whitesmoke;"%><br>
    <%= form.text_field :title , :class => "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.label :body, :style => "
    color: whitesmoke;" %><br>
    <%= form.text_area :body , :class => "form-control" , :style => "width: 100%;", :rows => "10"%><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div style="display: flex;     justify-content: space-between;">
    <div>
      <%= form.label :status, :style => "
      color: whitesmoke;" %>
      <%= form.select :status, ['public', 'private', 'archived'],{}, {class: "form-select", style: ""} %>
    </div>
    <div>
      <%= form.label :tag ,:style => "
      color: whitesmoke;" %>
      <%= form.select :tag, ['Life','Diet','School','Work','Hobby'],{},{class: "form-select", style: ""} %>
    </div>
  </div>
  <div>
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>