<div style="position: absolute; top: 10%;
    background-image: url(<%=asset_path("northwestern.jpg")%>);
  min-height: 90%; width: 100%; height: auto;"
  class= " image-background" id="image-background-adjust">
<div style="position: absolute; height: auto; display: flex; background: rgba(60, 60, 60, 0.4); min-height: 100%;
    min-width: 50%; width: auto; right: 0;
        flex-direction: column;" class="greyQuadRight">
  <%= form_with url: articles_showtag_path, local: false, :html => {:style => 'display: flex;     
    flex-direction: column;'} do |form| %>
    <%= form.label "Search by Tag", :style => 'text-align: center;
    color: whitesmoke;
    font-size: large;'%>
    <%= form.select "tag", ['Life','Diet', 'School','Work','Hobby'], {}, {:style => '', :class => 'form-select'}%>
    <%= form.submit "Search", :style => '', :class => 'btn btn-primary' %>
  <% end %>
    <div id="display-articles" style="">
    </div>
</div>
</div>