<div style="position: absolute; top: 10%;
    background-image: url(<%=asset_path('polsky.jpg')%>); 
  min-height: 90%;
  height: auto;
  width: 100%;"
  class="image-background" id="image-background-adjust">
  <div class='greyQuadRight jumbotron' style="position: absolute; right: 0; opacity: .75; background-color: #000; width: 75%; min-height: 100%;">
    <table class="table table-hover">
      <tr class="table-primary">
        <th scope="title">Title</th>
        <th scope="tags">Tags</th>
        <th scope="date">Date</th>
      </tr>
      <%baseline_time = 1%>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
        <tr class="greyQuadRight table-secondary" 
        style= "animation-duration: <%= baseline_time%>s;">
          <th>
            <a href="<%= article_path(article)%>">
                <%= article.title %>
            </a>
          </th>
          <th>
            <%= article.tag %>
          </th>
          <th>
            <%= article.updated_at%>
          </th>
        </tr>
        <%end%>
        <%baseline_time += 0.5%>
      <%end%>
    </table>
    <% if user_signed_in? && current_user.admin %>
    <div>
      <div class="card text-white bg-primary mb-3" style="max-width: 100%; opacity: 1;">
        <div class="card-body">
            <%= link_to "New Article", new_article_path, :class =>"card-title"%>
        </div>
      </div>
    </div>
    <% end%>
  </div>
</div>