<div class='jumbotron' style='position: relative; z-index: -1;'>
  <%= image_tag 'polsky.jpg',:style => "width: 100%; z-index: -1;"%>
    <% unless Article.public_count == 0%>
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li>
            <a href="<%= article_path(article)%>">
                <%= article.title %>
            </a>
            </li>
        <%end %>
      <% end %>
    </ul>
  <%else%>
    <div class='jumbotron' style="position: absolute; right: 0; top: 0; opacity: .5; background-color: #000; width: 50%; height: 100%;">
      <table class="table table-hover">
        <tr class="table-primary">
          <th scope="title">Title</th>
          <th scope="tags">Tags</th>
          <th scope="date">Date</th>
        </tr>
        <% @articles.each do |article| %>
          <% unless article.archieved? %>
          <tr class="table-primary">
            <td><a href="<%= article_path(article)%>">
                  <%= article.title %>
              </a></td>
          </tr>
          <%end%>
        <%end%>
      </table>
    </div>
  <%end%>
</div>