<%= image_tag 'polsky.jpg',:style => "object-fit: cover; height: 100%; width: 100%;"%>
  <div class='jumbotron' style="position: absolute; right: 0; top: 10%; opacity: .75; background-color: #000; width: 75%; height: 90%;">
    <table class="table table-hover">
      <tr class="table-primary">
        <th scope="title">Title</th>
        <th scope="tags">Tags</th>
        <th scope="date">Date</th>
      </tr>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
        <tr class="table-secondary">
          <th>
            <a href="<%= article_path(article)%>">
                <%= article.title %>
            </a>
          </th>
          <th>
            <%= article.tag %>
          </th>
          <th>
            <%= article.updated_at%>
          </th>
        </tr>
        <%end%>
      <%end%>
    </table>
    <div>
      <div class="card text-white bg-primary mb-3" style="max-width: 100%; opacity: 1;">
      <div class="card-body">
          <%= link_to "New Article", new_article_path, :class =>"card-title"%>
      </div>
      </div>
    </div>
  </div>