<% image_name = ['new_york.jpg','chicago_park.jpg','uchicago_snow.jpg'][rand(3)]%>
<div style="position: absolute; top: 10%;
    background-image: url(<%=asset_path(image_name)%>);
    min-height: 100%;
  height: auto; width: 100%;"
  class= " image-background" id="image-background-adjust">
  <div style="background: black; margin: 4%;
    padding: 2.5%; color: whitesmoke; opacity: .75;" class="greyQuadRight">
    <h1 style="color: whitesmoke;"><%= @article.title %></h1>
    <br>
    <p><%= @article.body %></p>
    <% if user_signed_in? and current_user.admin%>
    <%= link_to "Edit", edit_article_path(@article), :class => "btn btn-primary" %>
      <%= link_to "Delete", article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" }, :class => "btn btn-primary" %>
    <% end %>
  </div>
  <% if user_signed_in?%>
  <div style="background: black; margin: 4%;
    padding: 2.5%; color: whitesmoke; opacity: .75; "class="greyQuadLeft">
      <h2 style="color: whitesmoke;">Add a comment:</h2>
      <%= render 'comments/form' %>
  </div>
  <% end %>
  <div style="background: black; margin: 4%;
    padding: 2.5%; color: whitesmoke; opacity: .5;" class="greyQuadRight">
    <h2 style="color: whitesmoke;">Comments</h2>
    <%= render @article.comments%>
  </div>
</div>
