<!DOCTYPE html>
<style type="text/css">
</style>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: black;">
    <% unless notice.nil? %>
       <p class="notice"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
       <p class="alert"><%= alert %></p>
    <% end %>
    <div id='content' style="height: 100vh; overflow: hidden; position: relative;">
      <%= render "shared/navbar"%>
      <%= yield %>
    </div>
  </body>
</html>
