<!DOCTYPE html>
<style type="text/css">
</style>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- "data-turbo-track": "reload" -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: black;">
    <div id='content' style="height: 100vh; overflow: auto; position: relative;">
      <%= render "shared/navbar"%>
      <%= yield %>
    </div>
  </body>
</html>
